* {
  border: 1px solid black;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
  height: 100%;
}
.background-container--image1 {
  background-image: url(./images/bg1.jpg);
  min-height: 100%;
}
.background-container--image2 {
  background-image: url(./images/bg2.jpg);
  min-height: 80%;
}
.background-container--image3 {
  background-image: url(./images/bg3.jpg);
  min-height: 80%;
}
.background-container--image4 {
  background-image: url(./images/bg4.jpg);
  min-height: 80%;
}
.background-container--image1,
.background-container--image2,
.background-container--image3,
.background-container--image4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.heading-container__heading--logo {
  width: 30%;
  margin: 1rem;
}
.heading-container {
    position: absolute;
    top: 50%;   
    width: 100%;
    text-align: center;
    font-size: 3rem; 
    letter-spacing: 0.5rem;
}
.heading-container__heading--big {
    background-color: black;
}